h1 {
    padding: 15px;
    font-size: 40px;
    background-color: #9d0208;
    color: #403d39;
    text-align: center;
    text-decoration: underline;
}

header {
    padding: 25px;
    height: 50px;
    text-decoration: underline;
    font-size: 20px;
    display: flex;
    text-align: center;
    color: #403d39;
    background-color: #d00000;
}

.header h2{
    margin-left: 15px;
    margin-right: 15px;
    width: 100%;
}

.skills {
    height: 135px;
    background-color: #dc2f02;
    padding-top: 10px;
}

#skills-header {
    font-size: 20px;
    text-align: center;
    font-size: 20px;
    text-decoration: underline;
    color: #403d39;
}

#skills-description {
    text-indent: 10%;
    padding-top: 10px;
}
#skills-list {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    list-style: square;
    list-style-position: inside;
    text-indent: 10%;
    color: #252422;
}

.projects {
    padding-top: 10px;
    background-color: #e85d04;
    opacity
    transition: 1s;
}

.projects:hover {
    opacity
}

#projects-header {
    color: #403d39;
    text-decoration: underline;
    font-size: 20px;
    text-align: center;
}

#project-list {
    text-indent: 10%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.contact-information {
    background-color: #f48c06;
    padding-top: 10px;
}

#contact-information-header {
    font-size: 20px;
    text-align: center;
    text-decoration: underline;
    color: #403d39;
}

#contact-information-list {
    text-indent: 10%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.social-accounts {
    background-color: #faa307;
}